<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
	<!-- MSTest adapter -->
	<MSTest>
		<Parallelize>
			<Workers>4</Workers>
			<Scope>ClassLevel</Scope>
		</Parallelize>
	</MSTest>
	<!-- General run configuration -->
	<RunConfiguration>
		<EnvironmentVariables>
			<!-- For debugging selectors, it's recommend to set the following environment variable -->
			<DEBUG>pw:api</DEBUG>
		</EnvironmentVariables>
	</RunConfiguration>
	<!-- Playwright -->
	<Playwright>
		<!--<BrowserName>chromium</BrowserName>-->
		<!--<ExpectTimeout>5000</ExpectTimeout>-->
		<LaunchOptions>
			<!--<Headless>false</Headless>-->
			<!--<SlowMo>1000</SlowMo>-->
			<!--<Channel>chrome</Channel>-->
		</LaunchOptions>
	</Playwright>
	<!--Define test parameters like URL, user credentials... -->
	<TestRunParameters>
		<Parameter name="BrowserName" value="firefox" />
		<Parameter name="Url" value="https://website.com/" />
		<Parameter name="UserName" value="Ramy Haj Mousa" />
		<Parameter name="UserEmail" value="user@email.com" />
		<Parameter name="UserPassword" value="password" />
		<Parameter name="UserEmail2" value="user2@email.com" />
		<Parameter name="UserPassword2" value="password2" />
		<Parameter name="TokenURL" value="https://api.website.com" />
		<Parameter name="BaseURL" value="https://api.website.com" />
	</TestRunParameters>
</RunSettings>